<h1>Add a new flat</h1>

<%= form_with model: @flat, local: true do |element| %>
  <%= element.label :name %>
  <%= element.text_field :name %>
  <%= element.label :address %>
  <%= element.text_field :address %>
  <%= element.label :description %>
  <%= element.text_field :description %>
  <%= element.label :price_per_night %>
  <%= element.number_field :price_per_night %>
  <%= element.label :number_of_guests %>
  <%= element.number_field :number_of_guests %>
  <%= element.submit%>
<% end %>

<%= link_to "back to flats", flats_path %>
